body {
    background-image: url("/assets/images/ep_naturalwhite.png");
}

.header {
    top: 0px;
    margin: 0px;
    color: white;  
    background: white;
    width: 100%;
    position: fixed;
    left: 0px;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    top: 0;
}

.links {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    float: right;
    margin-top: -55px;
}

h1 {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    padding: 20px;
    width: 90px;
    margin-top: 0px;
    margin-left: 0
}

.container {
    margin-top: 200px;
    clear: both;
    display: block;
    width: 960px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background: #ffffff;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body-text {
    word-wrap: ;
}

.footer {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0px;
    border-top: 8px solid #4aaaa5;
    padding: 18px;
    background:#666666;
    color: #777777;
    left: 0px;
}

#image {
    float: left;
    padding-right: 20px;
    padding-bottom: 18px;
}