body {
}

.navbar {
    top: 0px;
    position: absolute;
    color: white;
    width: 100%;
}

.navguide {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

h1 {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    padding: 20px;
    width: 90px;
    margin-top: 0px;
    margin-left
}

.container {
    margin-top:
    border:
    
}